/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* other styles 
-------------------------------------------------- */

.supporting-huha span {
  color:#cdcdcd; 
  display: block; 
  margin-left:-10px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width:460px) {
    .supporting-huha {
         padding:15px 0px 10px 10px;
    }
    .supporting-huha div {
        width: 110px;
    }
}

@media (min-width: 461px) {
    .supporting-huha {
        padding:5px 15px 10px 10px;
    }
    .supporting-huha div {
        width: 170px;
    }
}

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
    
}



@media (max-width: 768px) {
  .jumbotron .product-description, .jumbotron .product-image {
      float: none;
      width: 100%;

  }
}